html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: 'Noto Sans KR', sans-serif, 'BMJUA';
}
@font-face {
  font-family: 'BMJUA';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}
